<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>Morse Code Encoder</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body, html {
  height: 100%;
}

.bg {

  background-image: url("https://farm1.staticflickr.com/748/20445410340_c1a0fe6a6a_b.jpg");


  height: 100%;


  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
        </style>
<form method="post">
     </head>


 <body class="bg">

        <nav class="navbar navbar-inverse">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div align="left">
      <a class="navbar-brand" href="/" style="position: static"><b>Morse Code Encoder</b></a>

            </div>
          </div>
        </nav>
        <div class="container" style="background-color: rgb(214, 225, 194, .85); border-radius: 15px; top: -50%; transform: translateY(50%);">
                    <h1 style="text-align: center; "><b class="center-block"><font size=15 color=black>Chat in morse code!</font></b></h1>
                    <h1 style="text-align: center; "><b class="center-block"><font size=15 color=black>Just input a username</font></b></h1>
                    <div style="margin:0 auto;width:20%;text-align:left"><p><input style="float: center" class="form-control" type=text name=username></p></div>
                    <div style="margin:0 auto;width:6%;text-align:left"><p ><input style="text-align:center" type=submit class="btn btn-success" value=Login></p></div>
                    </div>
        </form>
    </body>
